<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.spendiverse">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:requestLegacyExternalStorage="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Spendiverse">
        <activity
            android:name=".PrikazSlikeRacunaActivity"
            android:exported="false" />
        <activity
            android:name=".DodavanjeValuteActivity"
            android:exported="false" />
        <activity android:name=".DodavanjeKategorijeTroska" />
        <activity
            android:name=".InfoActivity"
            android:exported="false" />
        <activity
            android:name=".PrikazLjestvice"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MojProfil"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FinancijskiPlanActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Pitanje"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tema"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FinancijskaPismenostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VidjetiDetaljeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PrikazTroskovaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UnosTroskovaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>